$maincolor: #00d4ff
$secondmaincolor: #110041
$maincontent: rgba(#100B2D, 0.7) 
$maincontentdark: rgba(#0a071d, 1) 
$hoveredColor: lighten($maincontent, 3%)
$textcolor: #fff


html,
body 
  margin: 0 
  padding: 0 
  font-family: Georgia serif
  font-size: 18px 
  line-height: 1.4 
  color: #fff 
  height: 100% 
* 
  box-sizing: border-box 

::-webkit-scrollbar 
  width: 10px

::-webkit-scrollbar-track 
  background: #141414
  border-radius: 5px 

::-webkit-scrollbar-thumb 
  background: #fbfbfb
  border-radius: 5px 

::-webkit-scrollbar-thumb:hover 
  background: #555

* 
  scrollbar-width: thin
  scrollbar-color: #888 #f1f1f1

.container 
  max-width: 1200px 
  width: 100%
  margin: 0 auto 
  padding: 0 3% 

.page 
  display: flex 
  flex-direction: column 
  justify-content: flex-start 
  min-height: 100vh 
  padding: 20px 0 
  background-color: #4834d4
  background-image: linear-gradient(315deg, #3454d4 0%, #0c0c0c 90%)

.main 
  width: 100% 
  max-width: 600px 
  margin: 0 auto 
  padding: 20px 
  border-radius: 0 0 10px 10px   
  background: $maincontent

.header 
  text-align: center 
  font-size: 26px 

.logo
  cursor: default

.buttongroup
  width: 100% 
  max-width: 600px 
  margin: 0 auto 
  display: flex

  button 
    cursor: pointer
    color: $textcolor
    border: none
    padding: 10px
    flex-grow: 1
    text-align: center
    font-size: 20px
    font-family: Georgia serif

    font-weight: bold
    justify-self: start
    
    &:hover
      background: $hoveredColor
  
  .reloadbutton 
    flex-grow: 0
    font-size: 25px
    padding: 5px
    background-color: $maincontentdark

    &:hover
      background: $hoveredColor


.pageOn 
  background: $maincontent
  
.pageOff 
  background: $maincontentdark

.content 
  overflow: auto 
  padding: 0

  .ant-input,
  .ant-select
    width: 100% 
    margin: 10px 0 
    
  .ant-input-number 
    width: 100% 
    margin: 10px 0 
  
.list 
  max-height: 300px 
  overflow: auto 

.converter-block 
  display: flex
  flex-direction: column

.swap-button 
  align-self: center

.converter 
  display: flex
  justify-content: space-around

  > *
    max-width: 270px

.exchange 
  display: flex
  justify-content: space-between
  
  > *
    max-width: 270px
.exchange-header 
  margin: 0