$maincolor: #2F44C2
$secondmaincolor: #1C154E
$maincontent: rgba(#100B2D, 1) 
$maincontentdark: rgba(#0a071d, 1) 
$hoveredColor: lighten($maincontent, 3%)
$textcolor: #fff

html,
body 
  margin: 0 
  padding: 0 
  font-family: Georgia serif
  font-size: 16px 
  line-height: 1.4 
  color: #fff 
  height: 100% 
* 
  box-sizing: border-box 

.container 
  max-width: 1200px 
  width: 100%
  margin: 0 auto 
  padding: 0 3% 

.page 
  display: flex 
  flex-direction: column 
  justify-content: flex-start 
  min-height: 100vh 
  padding: 20px 0 
  background: linear-gradient(to top, $maincolor, $secondmaincolor , #221e42)

.main 
  width: 100% 
  max-width: 600px 
  margin: 0 auto 
  padding: 20px 
  border-radius: 0 0 10px 10px   
  background: $maincontent

.header 
  text-align: center 
  font-size: 26px 

.logo
  cursor: default


.buttongroup
  width: 100% 
  max-width: 600px 
  margin: 0 auto 
  display: flex


  button 
    cursor: pointer
    color: $textcolor
    border: none
    padding: 10px
    flex-grow: 1
    text-align: center
    font-size: 20px
    font-family: Georgia serif

    font-weight: bold
    justify-self: start
    // border-radius: 10px 10px 0 0    
    
    &:hover
      background: $hoveredColor
  
  .reloadbutton 
    flex-grow: 0
    font-size: 25px
    padding: 5px
    background-color: $maincontent

    &:hover
      background: $hoveredColor






.pageOn 
  background: $maincontent
  

.pageOff 
  background: $maincontentdark



.content 
  overflow: auto 
  padding: 20px 0 

  //Ant Design components
  .ant-btn 
    margin: 10px 

  .ant-select,
  .ant-input-number 
    width: 100% 
    margin: 10px 0 

  .ant-list-item 
    padding: 20px 
    border-bottom: 1px solid #2220a8 
    background-color: #fff


.list 
  max-height: 300px 
  overflow: auto 
